<H1 mat-dialog-title>{{title}}</H1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Product name</mat-label>
      <input formControlName="productName" matInput placeholder="name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>product's name</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category name</mat-label>
     <mat-select formControlName="category" aria-placeholder="category">
       <mat-option value="Fruits">Fruits</mat-option>
       <mat-option value="Vegetables">Vegetables</mat-option>
       <mat-option value="Electronic">Electronic</mat-option>
    </mat-select>
    <mat-hint>category type</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input formControlName="date" matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <label for=""><h2>Product freshness</h2></label>
  <mat-radio-group formControlName="freshness" class="example-radio-group">
    <mat-radio-button class="example-radio-button" *ngFor="let fresh of freshnesslist" [value]="fresh">
      {{fresh}}
    </mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input formControlName="price" type="number" matInput placeholder="price">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>product's price</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea formControlName="comment" matInput></textarea>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>comment here</mat-hint>
  </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>
